@page
@model TurismoNeuquen.Pages.ComoLlegarModel
@{
    ViewData["Title"] = "Como Llegar a POIs";
}

<head>
    <link rel="stylesheet" href="~/css/como-llegar.css" />
</head>

<!-- Map container and search input -->
<div class="container-fluid">
    <!-- Search input with instructions -->
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Haz clic en el mapa o busca desde donde quieres iniciar tu viaje" />
    </div>

    <!-- Map container -->
    <div id="map"></div>
</div>

<!-- Leaflet and Routing Machine -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

<!-- Pass server-side data to JavaScript ESTO ES PARA PASAR A JS LAS VARIABLES --> 
<script>
    window.startPointLat = @Html.Raw(@Model.StartPoint.Latitude);
    window.startPointLong = @Html.Raw(@Model.StartPoint.Longitude);

    window.endPointLat = @Html.Raw(@Model.EndPoint.Latitude);
    window.endPointLong = @Html.Raw(@Model.EndPoint.Longitude);

    window.endPointName = "@Html.Raw(@Model.EndPoint.Name)";
</script>

<script src="~/js/como-llegar.js"></script>