@page
@model TurismoNeuquen.Pages.UserDetailsPoiModel
@{
    // Retrieve the POI details from the model
    var poi = Model.PointOfInterest;
    var poiJson = System.Text.Json.JsonSerializer.Serialize(Model.PointOfInterest);
    var type = Model.Type;
}

<head>
    <link rel="stylesheet" href="~/css/poi-details.css" />
</head>

<div class="container my-0">

    <div class="row">
        <!-- Map on the left and Details on the right for large screens -->
        <div class="col-md-6 order-md-2">
            
            <!-- POI Details Card -->
            <div class="card shadow-sm">

                @if (@poi.ImageName != "")
                {
                    <img src="@poi.ImageName" alt="PoI Image" class="img-fluid w-100 main-img-poi" />
                }

                <div class="card-header">
                    <h2 class="card-title">@poi.Name</h2>
                </div>

                <div class="card-body">
                    <!-- Event Details -->
                    @if (@type == 0)
                    {
                        <h6 id="eventFields" class="card-subtitle">@Model.Event.EventDate.ToString("f")</h6>
                    }
                    <!-- Attraction Details -->
                    @if (@type == 1)
                    {
                        <div id="attractionFields">
                            <p class="card-text"> Abierto los días: @Model.GetOpenDays(Model.Attraction.OpenDays)</p>
                            <p class="card-text">Horario: @Model.Attraction.OpeningTime?.ToString("HH:mm") - @Model.Attraction.ClosingTime?.ToString("HH:mm")</p>
                        </div>
                    }

                    <h7 class="card-text">Descripción:</h7>
                    <p class="card-text">@poi.Description</p>
                </div>

                <!-- Button for Directions -->
                <div class="card-body">
                    <a asp-page="ComoLlegar" asp-route-id="@poi.Id" class="btn btn-secondary">Como Llegar</a>
                </div>
            </div>
        </div>

        <!-- Map on the left (or bottom small screens) -->
        <div class="col-md-6 order-md-1 map_container">
            <div id="poiMap"></div>
        </div>
    </div>
</div>

<!-- Include Leaflet CSS and JavaScript libraries -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
    window.poiData = @Html.Raw(poiJson);
</script>

<!-- Link to the external JavaScript file -->
<script src="~/js/details-poi.js"></script>